<table id="tableplayersum">
    <tr>
        <th>Player Tag</th>
        <th>Points</th>
    </tr>
    {{#each results}}
    <tr>
        <td>{{person_name}}</td>
        <td>{{total}}</td>
    </tr>
    {{/each}}
</table>