<!DOCTYPE html>
<html>
<head>
    <title>Unverified User</title>
</head>
<body>
 <p style="color:blue;text-align: center;border: 2px solid black;width: auto; padding:auto;margin-left: auto;margin-right: auto "
 >Unregistered guest! Please <br>
     <a href="{{login_link}}">
         Login Using Ion
     </a>
     or
     <a href="https://www.google.com/">
         Leave Website
     </a>
     <br>Logging in also gives you better graphics
 </p>
</body>
</html>
