<!DOCTYPE html>
<html>
<head>
	<title>Weather Form</title>
</head>
<body>
<link href="css/hPage.css" rel="stylesheet" type="text/css">
<ul id="nav"> 
<li><a href="https://user.tjhsst.edu/2023mli1/" class="hbutton">Home</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/mlib" class="menuoption">Madlib</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/0" class="menuoption">NumFacts</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/weatherForm" class="menuoption">WeatherForm</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/votes" class="menuoption">Votes</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/cclicker" class="menuoption">Cookie Clicker</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/fools" class="menuoption">lofi</a></li>
</ul>

<h2>Weather Form</h2>

<form action="./weather" method="get">
	<label for="id_lat">What is the latitude?</label>
	<input type="text" id="id_lat" name="lat" placeholder="42"><br>

	<label for="id_long">What is the longitude?</label>
	<input type="text" id="id_long" name="long" placeholder="-78"><br>
	
	<button type="submit" value="Submit">Submit</button>
</form> 

</body>
</html>