<!DOCTYPE html>
<html>
<head>
	<title>Cookie Cremator</title>
	<link href="css/cclicker.css" rel="stylesheet" type="text/css">
<link href="css/hPage.css" rel="stylesheet" type="text/css">
<ul id="nav"> 
<li><a href="https://user.tjhsst.edu/2023mli1/" class="hbutton">Home</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/mlib" class="menuoption">Madlib</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/0" class="menuoption">NumFacts</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/weatherForm" class="menuoption">WeatherForm</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/votes" class="menuoption">Votes</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/cclicker" class="menuoption">Cookie Clicker</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/esports" class="menuoption">Esports</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/fools" class="menuoption">lofi</a></li>
</ul>
</head>
<body>
	<h1>Cookie Cremator</h1>
	<h3>Hello {{nick}}!<br>
	    You have {{countdown}} visit(s) left</h3>
	<div class="section">
		<h3>Click to update cookie count</h3>    
		<img src="./img/cookie.jpg" class="stillimg" alt="fortnite" height = 300 onclick="increment_update()">
		
		<p id = "id_display"></p>
	</div>
        <script type="text/javascript" src="js/cclicker_methods.js"></script>
</body>
</html>
