<!DOCTYPE html>
<html>
<body>
    <link href="css/fishy.css" rel="stylesheet" type="text/css">
    <title>Fishy Clicking Page</title>
    <h1>Clicking Page for Fishy ONLY</h1><br>
    <h2>Every 5,000 clicks is a dollar</h2>
    
<div class="option">
    <img src="./img/valorant.jpg" alt="valorant" height = 300>
    <h4>Valorant</h4>
    <h4>Clicks: {{fa}}</h4>
    <a href="https://user.tjhsst.edu/2023mli1/fishyv?id=a&dir=1" class="ubutton">Upvote</a>
    <a href="https://user.tjhsst.edu/2023mli1/fishyv?id=a&dir=-1" class="dbutton">Downvote</a>
    <br>
    </div>
</body>
</html>
