<!DOCTYPE html>
<html>
<body>
    <title>The Home Page</title>
    <link href="css/hPage.css" rel="stylesheet" type="text/css">
<ul id="nav"> 
<li><a href="https://user.tjhsst.edu/2023mli1/" class="hbutton">Home</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/mlib" class="menuoption">Madlib</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/0" class="menuoption">NumFacts</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/weatherForm" class="menuoption">WeatherForm</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/votes" class="menuoption">Votes</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/cclicker" class="menuoption">Cookie Clicker</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/esports" class="menuoption">Esports</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/fools" class="menuoption">lofi</a></li>
<div class="dropdown">
  <button class="dropbtn">{{guest}}</button>
  <div class="dropdown-content">
  <a href="https://user.tjhsst.edu/2023mli1/profile">Profile</a>
  <a href="https://user.tjhsst.edu/2023mli1/settingf">Settings</a>
  <a href="https://user.tjhsst.edu/2023mli1/loginout">{{logs}}</a>
  </div>
</div>
</ul>
<div style="padding-top: 10px; padding-left: 10px">

Welcome Visitor number : {{data}}<br>
Did you know there are {{fools}} idiots in this world?
</div>
</body>
</html>
