<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<link href="css/hPage.css" rel="stylesheet" type="text/css">
<ul id="nav"> 
<li><a href="https://user.tjhsst.edu/2023mli1/" class="hbutton">Home</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/mlib" class="menuoption">Madlib</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/0" class="menuoption">NumFacts</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/weatherForm" class="menuoption">WeatherForm</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/votes" class="menuoption">Votes</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/cclicker" class="menuoption">Cookie Clicker</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/fools" class="menuoption">lofi</a></li>
</ul>
<body>


<h2>Login Page</h2>

<form action="./login" method="get">
	<label for="id_user">What is the username?</label>
	<input type="text" id="id_user" name="user" placeholder="Username123"><br>
	
	<button type="submit" value="Submit">Login</button>
</form> 

</body>
</html>