<!DOCTYPE html>
<html>
 <link href="css/hPage.css" rel="stylesheet" type="text/css">
<head>
	<title>The Search Page</title>
</head>
<body>
	<h1>Welcome to the Searching Page</h1>
		<div>
		<p>Are you looking for {{value}}?</p>    
		<ul>
		    {{#each temp}}
		    <li>{{this}}</li>
		    {{/each}}
		</ul>
	</div>

</body>
</html>