<table id="tablehistory">
    <tr>
        <th>User</th>
        <th>Player</th>
        <th>Points</th>
    </tr>
    {{#each results}}
    <tr>
        <td>{{person_1}}</td>
        <td>{{person_name}}</td>
        <td>{{ccredit}}</td>
    {{/each}}
</table>