<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	    <link href="css/hPage.css" rel="stylesheet" type="text/css">
<ul id="nav"> 
<li><a href="https://user.tjhsst.edu/2023mli1/" class="hbutton">Home</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/mlib" class="menuoption">Madlib</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/0" class="menuoption">NumFacts</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/weatherForm" class="menuoption">WeatherForm</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/votes" class="menuoption">Votes</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/cclicker" class="menuoption">Cookie Clicker</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/fools" class="menuoption">lofi</a></li>
</ul>
	<link href="css/profile.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section>
    <h3>ion username: {{ion_username}}</h3><br>
    <img src="{{picture}}" alt="picture" width="200">
	<h3>Full Name: {{full_name}}</h3>
	<h3>Nickname: {{nick}}</h3>
	
	</section>

</body>
</html>
