<table id="tableteamsum">
    <tr>
        <th>Team</th>
        <th>Points</th>
    </tr>
    {{#each results}}
    <tr>
        <td>{{house_name}}</td>
        <td>{{total}}</td>
    </tr>
    {{/each}}
</table>